.container {
    margin: 2.5rem auto;
    max-width: 700px;

    button {
        border: 0;
        color: var(--pink);
        background: var(--gray-800);
        margin-top: 4rem;
        font-weight: 600;
        font-size: 1.125rem;
    }
}

.post {
    max-width: 700px;
    
    h1 {
        font-size: 1.75rem;
        font-weight: bold;
    }

    p {
        font-size: 1.125rem;
        margin-top: 0.5rem;
    }

    & + article {
        margin-top: 2.813rem;
    }

    footer {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;

        .date {
            display: flex;
            align-items: center;
        }

        time {
            font-size: 0.875rem;
            margin-left: 0.5rem;
        }

        .author {
            display: flex;
            align-items: center;

            margin-left: 1.5rem;
        }

        span {
            font-size: 0.875rem;
            margin-left: 0.5rem;
        }
    }
}